body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DDF3F0;
  /* background: linear-gradient(to bottom, #ffffff, #DDF3F0); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  color: #117CB9;
}

.navbar-brand img {
  margin-right: 10px;
}

.logo-text {
  font-size: 2.5rem;
  font-family: 'Cherry Bomb One', cursive;
}

.btn {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: #01A2BB !important;
  border: none;
}

.btn-primary:hover {
  background-color: #01A2BB;
  opacity: 0.9;
}

.btn-secondary {
  background-color: #F99B52;
}

.btn-secondary:hover {
  background-color: #F99B52;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}

.bg-main {
  background-color: #DDF3F0;
}

.highlight {
  color: #F99B52;
}

.accent {
  color: #01A2BB;
}

.text {
  color: #333333;
}

.hero {
  /* background: linear-gradient(to right, #ffffff, #DDF3F0); */
  height: 100vh;
}

.dashboard {
  height: 100%;
}
